.App {
  text-align: center;
}

.container {
  background-color: #feeae3;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #6d42c7;
}

ul {
  position: relative;
  right: 0%;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 320;
  line-height: 39px;
  color: #6d42c7;
}

li:first-letter {
  text-transform: capitalize;
}

.Weather-city-name {
  text-transform: capitalize;
  margin-top: 30px;
  font-weight: 600;
  text-align: center;
  font-size: 25px;
}

.Weather-description {
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
  margin: 5px;
}

.Weather-search-button {
  margin-top: 20px;
  width: 45%;
  border-radius: 30px;
  padding: 5px;
  height: 50px;
  background: #feeae3;
  border: 2px solid #662eed;
  text-align: center;
}

.Weather-enter-city {
  width: 45%;
  border-radius: 30px;
  padding: 5px;
  height: 50px;
  background: #feeae3;
  border: 2px solid #662eed;
  text-align: center;
  text-shadow: none;
}

.Weather-current-location-emoji {
  font-size: 22px;
  background: none;
}

.Weather-icon {
  margin-top: 30px;
}

.Weather-main-temperature {
  font-size: 40px;
  line-height: 80px;
  justify-content: center;
  align-items: center;
}

.Weather-units {
  font-size: 16px;
  padding-right: 0px;
  font-weight: 600;
  position: relative;
  top: -20px;
}

.forecast-title {
  font-style: italic;
  text-align: center;
  font-size: 25px;
}

.WeatherForecast .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WeatherForecastDay {
  font-style: italic;
  text-align: center;
  font-size: 25px;
}

.footer {
  background-color: #feeae3;
  font-size: 16px;
  color: #7c73e6;
}
